<?xml version="1.0"?>
<configuration>
    <appSettings>
    <!--<add key="CslaProject.Depencies" value="Depencies"/>-->
    <add key="CslaObjectFactoryLoader" value="CslaProject.DataAccess.FactoryLoader, CslaProject.DataAccess"/>
    <add key="dbProvider" value="System.Data.OracleClient"/>
      <!--<add key="CslaDataPortalProxy" value="Csla.DataPortalClient.WcfProxy, Csla"/>
    <add key="CslaDataPortalUrl"  value="http://localhost:21647/WcfPortal.svc" />--><!--
    <add key="CslaAuthentication" value="Csla"/>
    <add key="CslaIsInRoleProvider" value="ASUIO.Model.Security.CurrentUser,ASUIO.Library,IsInRoleProvider"/>
    <add key="ClientSettingsProvider.ServiceUri" value=""/>
    <add key="Languages" value=""/>-->
  </appSettings>
  <connectionStrings>
    <add name="PDM" providerName="System.Data.OracleClient" connectionString="user id=sysdba;password=greatking;data source=search;" />
    <add name="CACHE" providerName="System.Data.OracleClient" connectionString="user id=imbase_cache_user;password=imbase_cache_user;data source=search;" />
    <add name="IASUP" providerName="System.Data.OracleClient" connectionString="user id=ASUP;password=ASUP;data source=IASUP;" />
  </connectionStrings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
